<h2>Parent Component</h2>

<button mat-raised-button (click)="toggleChild()">Toogle Child</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Type text</mat-label>
      <input matInput name="channel" [(ngModel)]="inputText">
    </mat-form-field>
</form>

<app-child *ngIf="showChild" [channelName]="inputText">
    <p>This is content of app-child in parent component</p>
</app-child>

